/*Code Sourced from previous activity, gives everything a certain font familt and adjusts the box sizing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*This styles every anchor tag to be whitesmoke in color and to not have an underline*/
a{
    text-decoration: none;
    color: whitesmoke;
}

/*This styles every paragraph element to have a font size of 14 during mobile mode, with a white smoke color, center alligned, and certain padding*/
p{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*This styles every H1 tag to have 300% font size, during mobile, with color of white smoke, and text-alligned center with certain margin*/
h1{
    font-size: 300%;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

/*This styles the quote texts color, changes its font, alligns it in center and changes font size*/
.quote{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 27px;
    text-align: center;
}

/*Code Sourced from previous activity with many modifications*/
nav{

    /*auto height to make all anchors fit as well when the screen size changes*/
    height: auto;
    background-color: #191919;
    width: 100%;
    padding-top: 3px;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -o-display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 11px;
        list-style: none;

        li{
            a{
                display: inline-block;
                border-style: solid;
                border-color: #191919;
                text-align: left;
                margin-left: 9px;
                padding: 5px;
                text-decoration: none;
                margin-bottom: 2px;
                margin-right: 2px;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 78px;
            }
        }
    }
}

body{
    margin: 0;
    background-color: #000000;
}

.info-box{
    background-color: #191919;
    width: 100%;
    margin-top: 7%;
    display: inline-block;

    img{
        width: 50%;
        float: right;
    }

    h2{
        text-align: center;
        font-size: 200%;
        color: whitesmoke;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    p{
        float: left;
        width: 50%;
        margin-bottom: 40px;
        margin-top: 0;
    }

    a{
        display: inline-block;
        position: relative;
        left: 25%;
        transform: translateX(-50%);
        border-style: solid;
        border-color: whitesmoke;
        padding: 10px;
    }

    h1{
        margin-top: 90px;
    }
}

#header{

    /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
    img{
        float: left;
        margin-left: 45px;
        width: 125px;
        height: 100px;
    }

    /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
    h2{
        position: relative;
        top: 18px;
        left: 5px;
        color: whitesmoke;
        font-size: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 40px;
    }
}

#copyright{
    font-size: 80%;
    margin-top: 80px;
    margin-bottom: 20px;
}

/* styling the hovered link on menu bar */
nav a:hover, nav a:focus {
    border-color: whitesmoke;
}

#form{
    margin-top: 100%;
    margin-top: 7%;
    background-color: #191919;
    display: inline-block;

    input{
        color: whitesmoke;
        background-color: #191919;
        border-color: whitesmoke;
        padding: 10px;
        height: 50px;
        width: 270px;
        margin-top: 10px;
    }

    #submit{
        width: 10%;
    }

    p{
        float: left;
        width: 50%;
        margin-top: 0;
    }

    #contact-img{
        width: 50%;
        float: right;
    }
    
    #social img{
        width: 26px;
        height: 26px;
    }

    textarea{
        background-color: #191919;
        border-color: whitesmoke;
        color: whitesmoke;
        padding: 10px;
        width: 270px;
        margin-top: 10px;
    }

}

@media all and (min-width: 1280px){

    #form{
        margin-left: 7%;
        margin-right: 7%;

        #social img{
            margin-bottom: 25px;
        }

        input{
            width: 433px;
        }

        textarea{
            width: 433px;
            height: 200px;
        }
    }
    
    p{
        line-height: 30px;
        font-size: 16px;
        padding-left: 40px;
        padding-right: 40px;
    }

    /*Code Sourced from previous activity with modifications*/
    nav{
        
        a{
            margin-left: 25px;
            margin-bottom: 5px;
            margin-right: 5px;
            flex-basis: 215px;
        }

        /*Code Sourced from previous activity with modifications*/
        ul{
            margin-left: 30px;
        }
    }

    h1{
        font-size: 400%;
        margin-top: 60px;
    }

    .info-box{
        
        margin: 7%;
        margin-bottom: 0;
        width: 86%;

        p{
            float: left;
            width: 50%;
            padding-top: 10px;
            padding-bottom: 40px;
            margin-top: 0;
            margin-bottom: 0;
        }

        h1{
            margin-top: 140px;
        }

        h2{
            text-align: center;
            font-size: 200%;
            color: whitesmoke;
            margin-top: 130px;
            margin-bottom: 40px;
        }

    }    
    
    #header{

        /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
        img {
            float: left;
            margin-left: 50px;
            width: 125px;
            height: 100px;
        }

        /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
        h2 {
            position: relative;
            top: 18px;
            left: 5px;
            margin-left: 41px;
        }
        
    }

    
}
